<!DOCTYPE html>
<html lang="en" ng-app="blog">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BrainChild Developer Blog</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/TopicsIndexController.js"></script>
    <script src="/scripts/controllers/TopicsShowController.js"></script>
    <script src="/scripts/controllers/TopicsEventsShowController.js"></script>
    <script src="/scripts/controllers/TopicsEventsIndexController.js"></script>
    <script src="/templates/topics.html"></script>
    <script src="/templates/topics_show.html"></script>
    <script src="/templates/topicsEvents_show.html"></script>
    <script src="/templates/topicsEvents.html"></script>
  </head>
  <body>
  <div class="heading">
      <h1>A Brief Moment in Time</h1>
      <p>All journeys have a begining this is mine</p>
  </div>
  <div class="summary">
    <div class="container">
        <img class="summary-image img-suqare img-responsive pull-right" src="images/faceBookPic.jpg" alt="Attractive Developer">
        <h2 class="summary-heading">Origin<span class="text-muted"> The life and times of a dev</span>
        </h2>
        <p class="lead">
          It is the mark of an educated mind to be able to entertain an idea and
          not accept it.<br>-Aristotle<br>

            When I first heard of blogs, I thought it was a dairy for the internet
          and okay with idea but it was certainly not for me.  Hindered by insecurity,
          I did not feel my opinions or experiences were worth sharing.  I have always
          admired the written word and I have personally loved and hated a person
          for their expression of it.  Because I have grown from the brave and
          generous people who share their experiences, today, I shed my fears and
          take a step toward contributing to the internet that has taught me so much.
          This will not be a grammatically/politically correct, nor is any effort
          made to be inline with any controversial or accepted school of thought.
          This blog started as a means to catalogue my growth as a Web Developer,
          huMan and SF resident.  I hope you enjoy my perspective or get at least
          get a better understanding on what you don’t like to read. I only garantee
          honesty
        </p>
    </div>
  </div>

  <div ng-view></div>
  <footer>
    <p>Copyright &copy; relative-rene 2016</p>
  </footer>
</body>
</html>
