<!DOCTYPE html>
<html lang="en" ng-app="blog">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BrainChild Developer Blog</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/TopicsIndexController.js"></script>
    <script src="/scripts/controllers/TopicsShowController.js"></script>
    <script src="/scripts/controllers/TopicsEventsShowController.js"></script>
    <script src="/scripts/controllers/TopicsEventsIndexController.js"></script>
  </head>
  <body>

  <div ng-view></div>
  <footer>
    <p>Copyright &copy; relative-rene 2016</p>
  </footer>
</body>
</html>
