<!DOCTYPE html>
<html lang="en" ng-app="blog">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BrainChild Developer Blog</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/TopicsEventsIndexController.js"></script>
    <script src="/scripts/controllers/TopicsEventsShowController.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <form class="form-horizontal" ng-submit="TopicsEventsIndexCtrl.createEvent()">
            <fieldset>

              <!-- Form Name -->
              <legend>New Contribution</legend>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">Date</label>
                <div class="col-md-4">
                <input id="date" ng-model="TopicsEventsIndexCtrl.newEvent.date" type="text" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">Topic</label>
                <div class="col-md-4">
                <input ng-model="TopicsEventsIndexCtrl.newEvent.topic" type="text" class="form-control input-md">
                </div>
              </div>

              <!-- Textarea -->
              <div class="form-group">
                <label class="col-md-4 control-label">Post</label>
                <div class="col-md-4">
                  <textarea class="form-control" ng-model="TopicsEventsIndexCtrl.newEvent.post"></textarea>
                </div>
              </div>


              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label">Save Contribution</label>
                <div class="col-md-4">
                  <button class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <form class="form-horizontal" ng-submit="topicsIndexCtrl.createTopic()">
            <fieldset>

              <!-- Form Name -->
              <legend>Add New Topic</legend>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-4">
                <input id="name" ng-model="topicsIndexCtrl.newTopic.name" type="text" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">GitHub Link</label>
                <div class="col-md-4">
                <input ng-model="topicsIndexCtrl.newTopic.github_link" type="text" class="form-control input-md">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">City</label>
                <div class="col-md-4">
                <input ng-model="topicsIndexCtrl.newTopic.city" type="text" class="form-control input-md">
                </div>
              </div>

              <!-- Textarea -->
              <div class="form-group">
                <label class="col-md-4 control-label">Events</label>
                <div class="col-md-4">
                  <textarea class="form-control" ng-model="topicsIndexCtrl.newTopic.events"></textarea>
                </div>
              </div>


              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label">Save Topic</label>
                <div class="col-md-4">
                  <button class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
  </body>
</html>
