<div class="container">
  <input type="text" class="form-control" ng-model="searchText" placeholder="Search Blogs">
  <div ng-repeat="event in topicsIndexCtrl.events | orderBy: 'date' | filter: searchText" class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class='row'>
            <div class="col-md-3 col-xs-12 thumbnail">
              <img src="images/800x800.png" alt="event image">
            </div>

            <div class="col-md-9 col-xs-12">
              <ul class="list-group form-inline">
                <li class="list-group-item">
                  <h4 class='inline-header'>Date:</h4>
                  <span ng-hide="editing"><a ng-href="{{event._id}}">{{event.date}}</a></span>
                  <input ng-show="editing" ng-model="event.date" type="text" class="form-control input-md">
                </li>

                <li class="list-group-item">
                  <h4 class='inline-header'>Topic:</h4>
                  <span ng-hide="editing">{{event.topic}}</span>
                  <input ng-show="editing" ng-model="event.topic" type="text" class="form-control input-md">
                </li>

                <li class="list-group-item">
                  <h4 class='inline-header'>Post:</h4>
                  <span ng-hide="editing">{{song.post}}</span>
                  <input ng-show="editing" ng-model="song.post" type="text" class="form-control input-md">
                </li>

              </ul>
            </div>
          </div>
          <div class='panel-footer'> uncomment when edits need to happen
            <div class='panel-footer'>
              <button class='btn btn-danger' ng-click="topicsIndexCtrl.deleteEvent(topic)">Delete Event</button>
              <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit Event</button>
              <button class='btn btn-success' ng-show="editing" ng-click="eventsIndexCtrl.editEvent(topic); editing = false">Save Changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
