{
    margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.heading
{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 6px;
    padding-right: 60px;
    padding-left: 60px;
    background-color: #eee;
    padding-top: 48px;
    padding-bottom: 48px;
}
.summary
{
    overflow: hidden;
}

.summary-image.pull-right
{
    margin-left: 40px;
}

.summary-heading
{
    font-size: 50px;
}

footer
{
    margin: 50px 0;
}
