body {
  color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("http://i.imgur.com/fZrj9AU.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
input[type=submit]{
  background-color:green;
  color: #FFFFFF;
}
.deleteBtn{
  background-color: red;
  color:#FFFFFF;
}
