h1
{
  color: #C57D31;
}
p
{
  color: #bababa;
}
.heading
{
    text-align: center;
    margin-bottom: 50px;
    border-radius: 6px;
    padding-top: 50px
    padding-right: 60px;
    padding-left: 60px;
}
.summary-image
{
  border-style: ridge;
}
.lead
{
  padding: 10px;
  background-color: #878787;
  border-style: ridge;
}

div.img
{
border-style: ridge;
/*display: block;*/
position: relative;
}
.summary-heading
{
  font-size: 50px;
}
#bg
{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;

}
footer
{
    margin: 50px 0;
}
